/SimpleJDBC_001.class
/TestDatabaseMetaData_005.class
/FindUserTables_006.class
/TestResultSetMetaData_007.class
/FindGrade_002.class
/FindGrade_002$1.class
/FindGradeUsingPreparedStatement_003.class
/FindGradeUsingPreparedStatement_003$1.class
/TestCallableStatement_004.class
