/ComputeFactorial_001.class
/ComputerFibonacci_002.class
/RecursivePalindromeUsingSubstring_003.class
/RecursivePalindrome_004.class
/RecursiveSelectionSort_005.class
/RecursiveBinarySearch_006.class
/DirectorySize_007.class
/TowerOfHanoi_008.class
/SierpinskiTriangle_009.class
/SierpinskiTriangle_009$1.class
/SierpinskiTriangle_009$SierpinskiTrianglePanel.class
/EightQueens_010.class
/EightQueens_010$ChessBord.class
